# NOVI Educational Backend (authenticatie)
VITE_AUTH_URL=https://frontend-educational-backend.herokuapp.com

# NOVI Dynamic API (notities opslaan)
# Registreer je project op https://novi.datavortex.nl
VITE_NOTES_API_URL=https://api.datavortex.nl/jouw-projectnaam
VITE_NOTES_API_KEY=jouw-projectnaam:jouw-api-key
